.primary_btn {
  border-radius: 10rem;
  background: $blue;
  color: $white;
  cursor: pointer;
  line-height: 1;
  padding: 0.8rem 1.5rem;
  display: block;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  border: none;
  font-size: 1.2rem;

  &:hover {
    background-color: $primary_btn_hover;
  }
}

.secondary_btn {
  background: none;
  color: $black;
  cursor: pointer;
  line-height: 1;
  padding: 0.8rem 1.5rem;
  display: block;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  border: 1px solid $pink;
  font-size: 1.2rem;

  &:hover {
    border-color: $green;
  }
}
