a {
  color: $color__link;
  text-transform: uppercase;
  font-family: $heading__font;
  color: $black !important;
  font-size: 1rem;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
