.search-results-main-wrapper {
  margin: 2rem 0;
  @media screen and (min-width: $desktop_bp) {
    display: grid;
    grid: 1fr / 1fr 1fr;
    margin: 2rem;
  }
}

// TOGGLE BUTTON
.hide-search-result-mobile {
  display: none;
}

form.show-search-result-mobile {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;

  > input {
    margin: auto;
    padding: 1.2rem 2.5rem;
  }
}

form.show-search-result-mobile,
form.hide-search-result-mobile {
  @media screen and (min-width: $desktop_bp) {
    display: none;
  }
}

div.show-search-result-mobile,
div.hide-search-result-mobile {
  width: 100vw;
  height: 80vh;

  @media screen and (min-width: $desktop_bp) {
    display: block;
    display: flex;
    width: 100%;
  }
}

// LIST
.search-result-list-wrapper {
  @include flexColumnCenter;
  height: 80vh;
  justify-content: flex-start;
  overflow-y: scroll;
  margin: auto;

  @media screen and (min-width: $desktop_bp) {
    align-items: flex-start;
  }

  .search-result-sorting-form {
    display: flex;
    margin-left: 1rem;
    text-transform: uppercase;

    input[type='submit'] {
      border: none;
      background-color: transparent;
      margin-left: 1rem;
      font-family: 'Montserrat';
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .search-result-port-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    background-color: $lightgrey;
    padding: 1rem;
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;

    cursor: pointer;

    @media screen and (min-width: $desktop_bp) {
      flex-direction: row;
      min-width: 500px;
      width: auto;
    }

    &:hover {
      box-shadow: 0 0 15px rgba($black, 0.5);
    }

    .search-result-text-wrapper {
      text-transform: uppercase;
      width: 100%;

      h2 {
        font-weight: 400;
      }

      h4 {
        margin: 0;
      }

      .search-result-price {
        color: $red;
        margin-bottom: 2rem;
      }

      .search-result-rating-wrapper {
        margin: 0;
        display: flex;

        img {
          max-width: 1.5rem;
          max-height: 1.5rem;
        }
      }
      
      .search-result-facility-wrapper {
        display: flex;
        margin: 0.75rem 0;

        img {
          margin: 0 0.75rem 0 0;
          height: 1.5rem;
          width: 1.5rem;
        }
      }

      @media screen and (min-width: $desktop_bp) {
        width: auto;
      }
    }

    img {
      width: 270px;
      height: 200px;
      object-fit: cover;
    }
  }

  .search-result-list-error-wrapper {
    text-align: center;
    flex: 1;
    margin-left: 1rem;
    @include flexColumnCenter;
  }
}

// MAP CSS
.search-result-map-wrapper {
  width: inherit;
  height: inherit;

  @media screen and (min-width: $desktop_bp) {
    border-radius: 0.5rem;
  }
}

.map-info {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  text-decoration: none;

  &__img-wrapper {
    width: 100%;
    max-width: 350px;

    img {
      width: 100%;
    }
  }

  &__title {
    margin-top: 1rem;
    font-weight: 400;
  }

  &__price {
    color: $red;
    font-family: 'Dosis';
    margin-top: 0;
  }
}
