.start-main-wrapper {
    .start-article__header {
        h2 {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            padding: 2rem 0;
        }
    }
}