.personnel-card-wrapper {
  padding-left: 1em;
  .personnel-card {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    img {
      border-radius: 50%;
      height: 6em;
      margin-right: 2em;
    }
  }
}

@media only screen and (min-width: $desktop_bp){
  .personnel-card-wrapper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .personnel-card {
      flex-direction: column;
      img {
        margin: 0 0 1em 0;
        height: 10em;
      }
    }
  }
}